
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: #1d2d44;
    --main-text-color: #f0ebd8;
    --secondary-color: #748cab;
    --third-color: hotpink;
    font-family: 'Tilt Neon', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    text-shadow: 
    0 0 4px whitesmoke,
    0 0 8px whitesmoke,
    0 0 16px var(--third-color),
    0 0 32px var(--third-color),
    0 0 64px var(--third-color),
    0 0 102px var(--third-color),
    0 0 150px var(--third-color);
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.home_display{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    width: 125px;
    margin: 20px;
    box-shadow:    
    0 0 1px whitesmoke,
    0 0 2cap whitesmoke,
    0 0 4px var(--third-color),
    0 0 8px var(--third-color),
    0 0 16px var(--third-color),
    0 0 32px var(--third-color),
    0 0 64px var(--third-color);
    border: none;
    background: none;
    color: whitesmoke;
    border-radius: 5px;
}

.random_movie_button:hover,
.help_button:hover,
.library_button:hover{
    transform: scale(1.2);
}

#form_div{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-bg-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    text-wrap: balance;
}

#form_div.show{
    display: flex;
}


#movie_div{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-bg-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}

#movie_div.show{
    display: flex;
    
}

#movie_div button{
    margin: 5px;
    width: 100px;
}


#library_div{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-bg-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    text-wrap: balance;
}

#library_div.show{
    display: flex;
}

table {
	border-collapse: separate;
	letter-spacing: 1px;
}

td,
th {
	padding: 10px;
    border: 1px solid var(--main-text-color);
	text-align: center;
}

dialog {
	height: 300px;
	width: 300px;
    position: absolute;
    top: 35%;
    left: 10%;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: none;
}
::backdrop{
    background-color: var(--main-bg-color);
    opacity: 1;
}

.modal_form{
    display: flex;
    flex-direction: column;
}

