@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: #1d2d44;
    --main-text-color: #f0ebd8;
    --secondary-color: #748cab;
    font-family: 'Limelight', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    text-shadow: 
    0 0 7px whitesmoke,
    0 0 10px whitesmoke,
    0 0 21px var(--secondary-color),
    0 0 42px var(--secondary-color),
    0 0 82px var(--secondary-color),
    0 0 102px var(--secondary-color),
    0 0 151px var(--secondary-color);
    letter-spacing: 2px;
}


.rando{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.randBtn,
.helpBtn{
    width: 200px;
    margin: 10px;
}

.rand_display{
    border: 1px solid whitesmoke;
    background-color: var(--main-text-color);
    height: 25px;
    width: 200px;
}

form{
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-wrap: balance;
}